/* seleciona todos os elementos da página */
* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: GodofWar;
    color: mintcream;
  }
  body {
    background-image: url("../img/GOW_kratosAndAtreus.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  @font-face {
    font-family: GodofWar;
    src: url("../fonts/GODOFWAR.woff");
  }
  @font-face {
    font-family: GillSans;
    src: url(../fonts/gill-sans.woff);
  }
  /*----------------------------- NAVBAR --------------------------------*/
  .navbar {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    z-index: 10;
  }
  .containerNav {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .headerImg {
    width: 40vh;
    cursor: pointer;
  }
/*----------------------------- LOGIN --------------------------------*/
.h2 {
  margin-top: 100px;
  font-size: 30px;
  padding: 10px;
}

.p {
  margin-top: 100px;
  font-size: 20px;
}

.input {
  margin-top: 100px;
  text-align: center;
  border: 2px black solid;
  border-radius: 10px;
  margin-bottom: 8px;
}

.button {
  margin-top: 100px;
  display: flex;
  text-align: center;
  padding: 3px;
  border: 2px black solid;
  border-radius: 10px;
}

.login {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.cadastro {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}