/* seleciona todos os elementos da página */
* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: GodofWar;
    outline: none;
    color: mintcream;
  }
  body {
    background-image: url("../img/GOW_kratosAndAtreus.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  @font-face {
    font-family: GodofWar;
    src: url("../fonts/GODOFWAR.woff");
  }
  @font-face {
    font-family: GillSans;
    src: url(../fonts/gill-sans.woff);
  }
  /*----------------------------- NAVBAR --------------------------------*/
  .navbar {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    z-index: 10;
  }
  .containerNav {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .headerImg {
    width: 40vh;
    cursor: pointer;
  }
/*----------------------------- LOGIN/CADASTRO --------------------------------*/
.containerCadLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.cadLogin {
  background-image: url("../img/fundo_GOW.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 55vh;
  width: 50vw;
  display: flex;
  position: relative;
  border-radius: 10px;
}
.divisao {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.divisao h2 {
  font-size: 2rem;
}
.divisao p {
  font-family: GillSans;
}
.divisao form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.btnEfeito {
  color: #97191d;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  transition: 0.8s;
  font-size: 1rem;
}
.btnEfeito:hover {
  color: mintcream;
  font-size: 1.2rem;
  cursor: pointer;
}
.motion {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 50%;
  height: 100%;
  position: absolute;
  transition: transform 1.5s;
  border-radius: 10px;
}
.efeito {
  transform: translateX(100%);
}