/* seleciona todos os elementos da página */
* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: GodofWar;
    color: mintcream;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    background-image: url("../img/GOW_white.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
   /* width */
  ::-webkit-scrollbar {
    width: 9px;
    background-color: #1C1C1C;
}
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #97191d;
    border-radius: 1vh;
}
  @font-face {
    font-family: GodofWar;
    src: url("../fonts/GODOFWAR.woff");
  }
  @font-face {
    font-family: GillSans;
    src: url(../fonts/gill-sans.woff);
  }
/*----------------------------- NAVBAR --------------------------------*/
  .navbar {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
  }
  .containerNav {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .headerImg {
    width: 40vh;
  }
  .ulNavbar {
    display: flex;
    z-index: 10;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 3px;
  }
  .ulNavbar li {
    margin-left: 40px;
    color: #97191d;
    font-size: 1.4rem;
    transition: 0.8s;
  }
  .ulNavbar li:hover {
    color: mintcream;
    font-size: 1.5rem;
    cursor: pointer;
  }
/*----------------------------- VIDEO --------------------------------*/
  .videoBg {
    width: 100%;
  }
  /*----------------------------- SETA --------------------------------*/
  .setaDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .seta-animation {
    animation: seta 1s infinite;
    width: 40px;
    position: absolute;
    z-index: 5;
  }
  /* Animação da seta, o keyframe seta o movimento inicial e final da animação */
  @keyframes seta {
    0% {
      bottom: 10%;
    }
    50% {
      bottom: 5%;
    }
    100% {
      bottom: 10%;
    }
  }
  /*----------------------------- SINOPSE --------------------------------*/
  .containerSinopse {
    height: 75vh;
    width: 90%;
    margin: 0 auto;
  }
  .sTitulo h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: 3px;
    color: #97191d;
  }
  .sinopseText {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .sText {
    width: 100%;
    font-size: 1.4rem;
    letter-spacing: 0.1px;
    text-align: center;
  }
  .sText p {
    margin: 30px;
    font-family: GillSans;
  }
/*----------------------------- PERSONAGENS --------------------------------*/
  .containerPersonagens {
    height: 310vh;
    width: 90%;
    margin: 0 auto;
  }
  .pTitulo h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 4vh;
    color: #97191d;
  }
  .personagensText {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .pText {
    width: 50%;
    font-size: 1.4rem;
    letter-spacing: 0.1px;
    margin: 0 10px;
  }
  .pText p {
    font-family: GillSans;
  }
  .pText h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 3px;
    color: #bfc4cc;
  }
  .imgPersonagens {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .imgPersonagens img {
    border-radius: 10px;
  }
  /*----------------------------- Curiosidades --------------------------------*/
  .containerCuriosidade {
    height: 60vh;
    width: 90%;
    margin: 0 auto;
  }
  .cTitulo h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 4vh;
    color: #97191d;
  }
  .curiosidadeText {
    display: flex;
    justify-content: space-evenly;
  }
  .cText {
    width: 100%;
    font-size: 1.4rem;
    margin: 0 5px;
  }
  .cText p {
      font-family: GillSans;
    }
  .cText h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 3px;
    color: #bfc4cc;
  }
   /*----------------------------- End --------------------------------*/
   .footer-end {
    height: 2vh;
    font-size: 1rem;
    letter-spacing: 0.1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #97191d;
   }